body 
{       
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
}
 

:root
{

    --bgColor: #1a1a1a;             /*Cor do Background*/
    --barra-pri: #1a1a1a;           /*Cor da barra primaria*/
    --carroselColor:#1a1a1a;        /*Cor do Carrosel */
    --menuSocial: #1E90FF;          /* Cor do menu social */
    --searchIcon: #0984e3;          /*Cor do Search Icon */
    --logoCursoColor: #1E90FF;

}


/*FORMATAÇÃO DA BARRA PRINCIPAL*/

.barra-primaria
{
    width: 100%;
    height: 80px;
    background-color: var(--barra-pri);     
    position: relative;
    top: 0px; 
    border-bottom: 1px solid #c6c6c6;
    
}

.navbar ul
{
    position: relative;
    list-style: none;
    margin-left: 500px;
    display: inline-block;
    width: 350px;
    margin-top: -4px;
    
    
    
    
}

.navbar ul li 
{
    float: left;
    width: 110px;
    box-sizing: border-box;
    margin-left:5px ;
    padding: 30px;
    
    

}

.navbar #opt a 
{
    color: #f2f2f2;
    text-align: center;
    text-transform:uppercase;  
    display: block;
    letter-spacing: 1px;
}

.navbar #opt a:hover 
{
    color: #0984e3;
    transition: 1s;
    cursor: pointer;
}


/* FIM DO CSS DOS NOMES DA BARRA PRINCIPAL */

/* CSS DA LOGO DA FADESA COMMUNITY DA BARRA PRINCIPAL (IMAGEM PEQUENA) */
#fds-community 
{
    position: absolute;
    height: 60px;
    width: 200px;
    top:10px;
    left: 2%;
}

/* FORMATAÇÂO DO CARROSEL DE CURSOS */
.carousel
{   
    position: relative;
    top: -2px;
    height:165px;
    perspective: 1000px;
    background-color: var(--carroselColor);
    border-bottom: 3px solid #c6c6c6;
}

.carousel .carousel-item
{   
    
    display: block;
    width:132px;
    margin-top: 20px;
}

/* CSS DAS REDES SOCIAS DA BARRA PRINCIPAL */

.socialmenu ul  
{
    position: absolute;
    top:45%;
    left:89%;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    display: flex;
}

.socialmenu ul li
{
    list-style: none;
    margin: 0 4px;
}

.socialmenu ul li .fa
{
    font-size: 25px;
    line-height: 39px;
    transition: .6s;
    color: white; 
}

.socialmenu ul li .fa:hover
{
    color: #fff;
}

.socialmenu ul li a 
{
    position: relative;
    display: block;
    width:38px;
    height:38px;
    background-color: var(--menuSocial);
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
 
.socialmenu ul li a:hover
{
    transform: translate(0, -10px);
}

.socialmenu ul li:nth-child(1) a:hover
{
    background-color: #3b5999;
}
.socialmenu ul li:nth-child(2) a:hover
{
    background-color: #e4405f;
}
.socialmenu ul li:nth-child(3) a:hover
{
    background-color: #25D366;
}
/* FIM DO CSS DOS MENUS DA BARRA PRINCIPAL */

/* CSS DA LUPA DE PESQUISA */
.search-icon 
{   
    position: absolute;
    left: 77%;
    top: 35px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

.search-icon .fa
{
    width: 40px;
    height: 40px;
    background-color: var(--searchIcon);
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.search-overlay
{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.8;
    visibility: hidden;
    transition: all .3s ease-in; 
    
}

.search-overlay.active
{
    visibility: visible;
    opacity: 0.8;
    z-index: 10;
}

.search-popup
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 600px;
    /* z-index: 21; */
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    
    
}

.search-popup.active
{
    visibility: visible;
    opacity: 1;
    z-index: 11;
   
    
}

.search-popup .form-group
{
    position: relative;
}

.search-popup .form-control
{
    width: 100%;
    height: 60px;
    border: none;
    padding: 0px 100px 0px 30px;
    font-size: 18px;
    border-radius: 30px;
    color: #ffffff;
    
    
}

.search-popup .submit-btn
{
    background-color: #0984e3;
    width: 70px;
    height: 45px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    right: 0;
    top: 0;
}

.search-popup .form-control:focus
{
    outline: none;
}

.search-popup .submit-btn:focus
{
    outline: none;
}

 /* FIM DO CSS DA LUPA DE PESQUISA */

/*propaganda*/

slider 
{
    display: block;
    width: 100%;
    height: 800px;
    top: 16.5%;
    overflow: hidden;
    position: relative;
    left: 0%;
    
    
   
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height:  80%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
    border-bottom: 3px solid #c6c6c6;
    
}

slide:nth-child(1)
{
    left: 0%;
    animation-delay: -1s;
    background-image: url(https://i.pinimg.com/originals/ac/36/21/ac3621a2356d9773f3015c9523c91f3f.png);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2)
{
    animation-delay: 2s;
    background-image: url(https://br.web.img3.acsta.net/newsv7/20/03/16/19/47/0306257.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3)
{
    animation-delay: 5s;
    background-image: url(https://i1.wp.com/cloud.estacaonerd.com/wp-content/uploads/2020/05/27091936/15112131302144.jpg.png?fit=2560%2C1440&ssl=1);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4)
{
    left: 0%;
    animation-delay: 8s;
    background-image: url(https://jogandocasualmente.com.br/wp-content/uploads/2020/01/xbox-one-logo-1000x563.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes slide
{
   0% { left: 100%; width: 100%;}
   5% { left: 0%;}
   25% { left: 0%;}
   30% { left: -100%; width: 100%;}
   30.0001% {left: -100%; width: 0%;}
   100% { left: 100%; width: 0%;}
}




#titulo{
    background-color: rgb(58, 140, 223);
    color: white;
    margin-top:-11.9%;
    height: 334px;
    font-size: 12px;
    padding-left: 100px;
    padding-top:100px;
    border-bottom: 3px solid #c6c6c6;
}

#parágrafo{
    color: black;
    font-size: 18px;
    background-color:rgba(60, 124, 196, 0.856);
    width: 400px;
    margin-top:1.1%;
    transform:skew(-6deg, 0deg) rotateX(-10deg) translate(15px, 10px);
    margin-left:3%;
    position: relative;
    top:-29%;    
}
h2 {
color:white;
margin-top: -8%;
margin-left: 6%;

}
p{
margin-left: 7%;
font-size: 18px;
}



hr
{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray

}

#hacker
{
    transform:skew(-6deg, 0deg) rotateX(-10deg) translate(15px, 10px);
    margin-left:-4%;
    position:relative;
    top:-410px;
    left: 550px;
    width: 480px;
    height: 335px;
}






@media(max-width: 991px)
{
    






























}




