body 
{       
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);  
}
     
/*FORMATAÇÃO DA BARRA PRINCIPAL*/

:root
{

    --bgColor: #1a1a1a;             /*Cor do Background*/
    --barra-pri: #1a1a1a;           /*Cor da barra primaria*/
    --carroselColor:#1a1a1a;        /*Cor do Carrosel */
    --menuSocial: #1E90FF;          /* Cor do menu social */
    --searchIcon: #0984e3;          /*Cor do Search Icon */
    --logoCursoColor: #1E90FF;
    --btnMenu: #1E90FF;

}


/*FORMATAÇÃO DA BARRA PRINCIPAL*/

.header-bd
{
    width: 100%;
    height: 80px;
    background-color: var(--barra-pri);     
    position: relative;
    top: 0px; 
    border-bottom: 1px solid #c6c6c6;
    
}

.navbar ul
{
    position: relative;
    list-style: none;
    margin-left: 495px;
    display: inline-block;
    width: 350px;
    margin-top: -30px;
    
    
    
    
}

.navbar ul li 
{
    float: left;
    width: 110px;
    box-sizing: border-box;
    margin-left:5px ;
    padding: 30px;
    
    

}

.navbar #opt a 
{
    color: #f2f2f2;
    text-align: center;
    text-transform:uppercase;  
    display: block;
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar #opt a:hover 
{
    color: #0984e3;
    transition: 1s;
    cursor: pointer;
}


/* FIM DO CSS DOS NOMES DA BARRA PRINCIPAL */

/* CSS DA LOGO DA FADESA COMMUNITY DA BARRA PRINCIPAL (IMAGEM PEQUENA) */
#fds-community 
{
    position: absolute;
    height: 60px;
    width: 200px;
    top:10px;
    left: 2%;
}



/* CSS DAS REDES SOCIAS DA BARRA PRINCIPAL */

.socialmenu ul  
{
    position: absolute;
    top:45%;
    left:89%;
    padding:0;
    margin:0;
    transform: translate(-50%, -50%);
    display: flex;
}

.socialmenu ul li
{
    list-style: none;
    margin: 0 4px;
}

.socialmenu ul li .fa
{
    font-size: 25px;
    line-height: 39px;
    transition: .6s;
    color: white; 
}

.socialmenu ul li .fa:hover
{
    color: #fff;
}

.socialmenu ul li a 
{
    position: relative;
    display: block;
    width:38px;
    height:38px;
    background-color: var(--menuSocial);
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
 
.socialmenu ul li a:hover
{
    transform: translate(0, -10px);
}

.socialmenu ul li:nth-child(1) a:hover
{
    background-color: #3b5999;
}
.socialmenu ul li:nth-child(2) a:hover
{
    background-color: #e4405f;
}
.socialmenu ul li:nth-child(3) a:hover
{
    background-color: #25D366;
}
/* FIM DO CSS DOS MENUS DA BARRA PRINCIPAL */

/* CSS DA LUPA DE PESQUISA */
.search-icon 
{   
    position: absolute;
    left: 77%;
    top: 35px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

.search-icon .fa
{
    width: 40px;
    height: 40px;
    background-color: var(--searchIcon);
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.search-overlay
{
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.8;
    visibility: hidden;
    transition: all .3s ease-in; 
    
}

.search-overlay.active
{
    visibility: visible;
    opacity: 0.8;
    z-index: 10;
}

.search-popup
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    width: 600px;
    /* z-index: 21; */
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    
    
}

.search-popup.active
{
    visibility: visible;
    opacity: 1;
    z-index: 11;
   
    
}

.search-popup .form-group
{
    position: relative;
}

.search-popup .form-control
{
    width: 78%;
    height: 60px;
    border: none;
    padding: 0px 100px 0px 30px;
    font-size: 18px;
    border-radius: 30px;
    color: #000000;
    
    
}

.search-popup .submit-btn
{
    background-color: #0984e3;
    width: 70px;
    height: 60px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    right: 0;
    top: 0;
}

.search-popup .form-control:focus
{
    outline: none;
}

.search-popup .submit-btn:focus
{
    outline: none;
}



.foram-body
{
    position: absolute;
    top: 56%;
    left: 73%;
    transform: translate(-50%,-50%);

    background-color: #ecf0f1;
    height: 420px;
    width: 370px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   
}

.foram-body h1
{
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 2px;
    
    
}

.foram-body input 
{
    outline-color: #0984e3;
    box-shadow: none;
    text-align: center;
    font-size: 16px;
    width: 310px;
    height: 45px;
    
}

.foram-body input[type="submit"]
{
    width: 160px;
    background-color: #0984e3;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    border: none;
    height: 45px;
    color: #f2f2f2;
}
.foram-body input[type="submit"]:hover
{
    filter: brightness(90%);
    cursor: pointer;
}

.foram-body .lb-input
{
    position: relative;
    top: -65px;
    text-align: center;
    margin-bottom: 10px;
}

.foram-body .p-input
{
    position: relative;
    text-decoration: none;
    top: 6%;
    
}

.img-fadesa img
{
    position: absolute;
    top:-2%;
    left: -145%;
    width: 300px;
    height: 370px;


}

#lbl-input-chk
{
    background-color: var(--btnMenu);
    color: #f2f2f2;

    height: 50px;
    width: 50px;

    padding: 10px;
    font-size: 20px;

    position: relative;
    left: 1rem;
    top: 1.5rem;
    visibility: hidden;
}

input[type="checkbox"]
{
    display: none;
}


@media screen and (max-width: 366px)
{
    .img-fadesa img{
        display: none;
    }

    .foram-body
    {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);

        width: 20rem;
        height: 30rem;
    }

    .foram-body input 
    {
        width: 16.5rem;

    }

    .foram-body .p-input
    {
        font-size: 15px;
    }

    
    .navbar ul 
    {
     
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: var(--bgColor);

        top:5.5rem;
        left: -30rem;
        width: 250px;
        height: 600px;

        visibility: hidden;
       
    }


    .socialmenu ul 
    {
        position: absolute;
        z-index: 1;
        left: 8rem;
        top: 30rem;
        visibility: hidden;
        display: none;
        
    }

    

    #fds-community 
    {
        position: absolute;
        height: 65px;
        width: 200px;
        top:10px;
        left: 5rem;
    }

    #lbl-input-chk
    {
        background-color: var(--btnMenu);
        color: #f2f2f2;

        height: 50px;
        width: 50px;

        padding: 8px;
        font-size: 20px;

        position: relative;
        left: 1.2rem;
        top: 1.5rem;
        visibility: visible;
    }

    input[type="checkbox"]
    {
        display: none;
    }

    input[type="checkbox"]:checked~.navbar ul
    {
        visibility: visible;
        transition: all .4s ease;
    }

    /* input[type="checkbox"]:checked~.socialmenu ul 
    {
        visibility: visible;
        transition: all 0s;
    } */


    .search-icon 
    {   
        position: absolute;
        left: 90%;
        top: 2.5rem;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }


    .search-popup .submit-btn
    {
        left: 25rem;
    }

    .search-popup
    {   
        top: 25rem;
        left: 20.5rem;
    }
    


}














